<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zeroPlusCloset</title>
    <link rel="stylesheet" href="http://localhost:8000/index.css"/>
</head>
<body>

<div id="root"></div>

##<script src="$jsUrl"></script>
<script src="http://localhost:8000/index.js"></script>

</body>
</html>