<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpc.dal.UserDao">

    <resultMap id="UserMap" type="com.zpc.common.dataobject.UserDO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="portrait_url" property="portraitUrl"/>
    </resultMap>


    <select id="getAllUser" resultMap="UserMap">
        SELECT * FROM users
        ORDER BY id DESC
    </select>


    <select id="selectUserByUserId" resultMap="UserMap" parameterType="String">
        select * from users where user_id=#{userId}
    </select>

    <update id="update" parameterType="com.zpc.common.dataobject.UserDO">
        update users set gmt_modified=now()
        <if test="portraitUrl!=null">
            ,portrait_url=#{portraitUrl}
        </if>
        where user_id=#{userId}
    </update>
</mapper>
